# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

# Inspiration
# https://github.com/actions/starter-workflows/blob/main/ci/docker-publish.yml

name: Build Docker image CI

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'Test scenario tags'
        required: false
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Show input values
        run: |
          echo "Inputs: ${{ github.event.inputs }}"

      - name: Checkout repository
        uses: actions/checkout@v2
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'

      # Login against a Docker registry except on PR
      # https://github.com/marketplace/actions/docker-login
      # https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#github-context
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Create clean tag for Docker
        run: |
          export TAGTMP1=${{ github.ref }}
          echo "TAG=$(echo "${TAGTMP1##*-}")" >> $GITHUB_ENV

      - name: Dump GitHub context
        if: always()
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        if: always()
        env:
          JOB_CONTEXT: ${{ toJSON(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        if: always()
        env:
          STEPS_CONTEXT: ${{ toJSON(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Dump runner context
        if: always()
        env:
          RUNNER_CONTEXT: ${{ toJSON(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Dump strategy context
        if: always()
        env:
          STRATEGY_CONTEXT: ${{ toJSON(strategy) }}
        run: echo "$STRATEGY_CONTEXT"

      # Extract metadata (tags, labels) for Docker
      # https://github.com/marketplace/actions/docker-metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v3
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'
        with:
          # images: ${{ env.IMAGE_NAME }}
          images: ${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}},value=${{ env.TAG }}
            type=semver,pattern={{major}}.{{minor}},value=${{ env.TAG }}
            type=semver,pattern={{major}},value=${{ env.TAG }}

      - name: Show Docker tags that will be used
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'
        run: echo '${{ steps.meta.outputs.tags }}'

      - name: Show Docker labels that will be used
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'
        run: echo '${{ steps.meta.outputs.labels }}'

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'
        with:
          context: ./src
          platforms: |
            linux/amd64
            linux/arm64
            linux/arm/v7
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Image digest
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'
        run: echo ${{ steps.docker_build.outputs.digest }}

      - name: Send job status to MQTT when done
        uses: potaesm/github-actions-mqtt-request@1.0.0
        if: always()
        env:
          JOB_STATUS: ${{ job.status }}
        with:
          url: ${{ secrets.PUBLIC_MQTT_BROKER_URL }}
          topic: control/github_actions_action_runner
          payload: '{ "type":"docker-build", "repo": "${{ github.repository }}", "job": "${{ github.job }}", "workflow": "${{ github.workflow }}","status": "completed","conclusion":"${{ env.JOB_STATUS }}" }'
          username: ${{ secrets.PUBLIC_MQTT_BROKER_USER }}
          connectTimeout: 30000
