# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

# Inspiration
# https://github.com/actions/starter-workflows/blob/main/ci/docker-publish.yml

name: Build Docker image CI

on:
  release:
    types:
      - published

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        node-version: [14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'

      # Login against a Docker registry except on PR
      # https://github.com/marketplace/actions/docker-login
      # https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#github-context
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      # Extract metadata (tags, labels) for Docker
      # https://github.com/marketplace/actions/docker-metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v3
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'
        with:
          # images: ${{ env.IMAGE_NAME }}
          images: ${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Show Docker tags that will be used
        run: echo '${{ steps.meta.outputs.tags }}'
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'

      - name: Show Docker labels that will be used
        run: echo '${{ steps.meta.outputs.labels }}'
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'
        with:
          context: ./src
          platforms: |
            linux/amd64
            linux/arm64
            linux/arm/v7
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Image digest
        if: |
          github.event_name != 'pull_request' &&
          github.repository_owner == 'ptarmiganlabs'
        run: echo ${{ steps.docker_build.outputs.digest }}

    env:
      CI: true
